.resize {
    height: 29rem;
    width: auto;
    background-size: contain;
}

.move{
    position: absolute;
    top: 10%;
    right: 2%;
}

.bgc{
    background: rgb(41, 59, 54);
    background: url("images/stockgraph.jpg");
}

.green{
    background: linear-gradient(to bottom, rgb(82,195,139), rgb(235,73,96));
}
.ftr{
    background: linear-gradient(to bottom, rgb(235,73,96), rgb(82,195,139));
}

.grad {
    min-height: 100%;
    background: rgb(19,23,34);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.gradient-custom-2 {
    background: #fccb90;
    background: linear-gradient(to bottom, rgb(82,195,139), rgb(235,73,96));
    background: linear-gradient(to bottom, rgb(82,195,139), rgb(235,73,96));
    }
    @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}
